<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Filter</title>
</head>
<body>
    <div class="filter_container">
    <input type="search" name="filter" id="filter">
    <div class="events">
        <p>Events near by</p>
        <input type="checkbox" name="events" id="events">
    </div>
    <div class="tourists">
        <p>Tourist Spots</p>
        <input type="checkbox" name="tourits" id="tourists">
    </div>
    <div class="hazards">
        <p>Hazards</p>
        <input type="checkbox" name="hazards" id="hazards">
    </div>
    <div class="accidents">
        <p>Accidents</p>
        <input type="checkbox" name="accidents" id="accidents">
    </div>
</div>
</body>
</html>